<launch>
	<node name="task4_node" pkg="competition_tasks" type="task4" output="screen"/>
    <node name="find_object_2d" pkg="find_object_2d" type="find_object_2d" output="log">
		<remap from="image" to="/usb_cam/image_rect_color"/>
		<param name="gui" value="false" type="bool"/>
		<param name="objects_path" value="~/Project/uav_ws/src/application/competition_tasks/object_template/medicalBag" type="str"/>
		<param name="settings_path" value="~/.ros/find_object_2d.ini" type="str"/>
	</node>
</launch>